{% extends 'home.html' %}
{% load partials %}
{% load static %}
{% partialdef my_htmx_content inline %}


{% block body %}
    
    <section class="table_header">
        <h1>Leaderboard</h1>
    </section>
    <table class="table" class="table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Wins</th>
                <th>Losses</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <img src="{{ user.profile.image.url }}" alt="user photo" width="100">
                        <p>{{ user.username }}</p>
                    </td>
                    <td>{{ user.profile.wins }}</td>
                    <td>{{ user.profile.losses }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">document.title = 'Leaderboard';</script>
{% endblock %}
{% endpartialdef %}