{% extends 'home.html' %}

{% load partials %}

{% load static %}

{% partialdef my_htmx_content  %}


{% block script_body %}{% endblock %}

{% block body %}
<script>document.title = '{{ tournament.name }}'</script>
<h2 class="mb-4">{{ tournament.name }}</h2>
<div>
<p>Players: {{ tournament.players.count }}</p>
<ul>
    {% for players in tournament.players.all %}
    <li>{{ players.username }}</li>
    {% endfor %}
</ul>
</div>

{% if can_start %}
<form hx-boost="false" hx-target="#app-root" hx-post="{% url 'game:start_tournament' tournament.id %}">
    {% csrf_token %}
    <button type="submit">Start Tournament</button>
</form>
{% endif %}
{% if tournament.status == 'in_progress' %}
	<a hx-target="#app-root" hx-get="{% url 'game:tournament_progress' tournament.id %}" href="{% url 'game:tournament_progress' tournament.id %}" class="btn btn-info mt-3">View Tournament Progress</a>
{% endif %}
{% endblock %}
{% endpartialdef %}
